body {
    background: rgb(12, 12, 117);
    color: white;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    margin: 0px;
}

p {
    font-size: 20px;
    color: rgb(207, 207, 184);
}

.container {
    width: 100%;
    margin: auto;
    padding: 20px;
    max-width: 1100px;
    background: rgb(6, 6, 126);
    border-bottom: 1px, solid, rgb(22, 22, 184);
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.liens-nav {
    display: flex;
    font-size: 18px;
    font-weight: 500;
    list-style: none;
}

.liens {
    margin-left: 50px;
    color: white;
    text-decoration: none;
}

.hero-section {
    display: flex;
    justify-content: space-between;
    padding: 120px;
    gap: 40px;
}

h1 {
    font-size: 42px;
    text-align: center;
}

.ph {
    font-size: 20px;
}

.image {
    height: 200px;
    width: 150px;
    border-radius: 50%;
    border: 5px solid, rgba(255 255 255 0.1);
}

.button {
    background: rgb(40, 140, 165);
    color: black;
    padding: 12px;
    border-radius: 8px;
    font-size: 15px;
}

.about {
    text-align: center;
}

.about-section {
    padding: 12px;
}

.competences-section {
    
   padding: 20px;
}

.competences {
   
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(150px,1fr))  ;
    gap: 20px;
    text-align: center;
    padding:50px;
   margin-top: 20px;

}

.skills {
 
    background: #1f2a38;
    padding: 15px 30px;
    border-radius: 12px;
    color: white;
    font-weight: 500;
    font-size: 15px;
}

.card-container {
    display: flex;
    gap: 20px;
    justify-content: center;
    padding: 20px;
}

.card {
    background: #1f2a38;
    color: white;
    border-radius: 12px;
    padding-top: 20px;
    padding-bottom: 10px;
    padding-block: 20px;
    padding: 20px;
}

.form {
    border-radius: 20px;
    text-align: center;
    padding: 20px;
}

.form-control {
    padding: 10px;
    background: #1f2a38;
    border-radius: 10px;
    font-size: 16px;
    margin-bottom: 20px;
    max-width: 500px;
    width: 100%;
    
}
.bouton{
    background: white;
    color: black;
    border: none;
    padding: 10px ;
    width: 100%;
    border-radius:5px ;
    max-width:100px ;
    text-align: left;

}